<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml -->
<config>
	<actionsets>
		<actionset>
			<name></name>
			<actions>
				<action>
					<kind></kind>
				</action>
			</actions>
		</actionset>
	</actionsets>
	<folders>
		<folder>
			<path>c:/test/</path>
			<actionsetname></actionsetname>
			<matchsetname>testregex</matchsetname>
		</folder>
		<folder>
			<path>o</path>
			<actionsetname></actionsetname>
			<matchsetname></matchsetname>
		</folder>
	</folders>
	<matches>
		<match>
			<name>testregex</name>
			<kind>regex</kind>
			<pattern>.*Image.*</pattern>
		</match>
	</matches>
</config>