<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml -->
<config>
	<actionsets>
		<actionset>
			<name>movetoimages</name>
			<actions>
				<action>
					<kind>move</kind>
					<destination>c:/images/</destination>
				</action>
			</actions>
		</actionset>
		<actionset>
			<name>movetodocuments</name>
			<actions>
				<action>
					<kind>move</kind>
					<destination>c:/documents/</destination>
				</action>
			</actions>
		</actionset>
	</actionsets>
	<folders>
		<folder>
			<path>c:/test/</path>
			<rulesets>
				<ruleset>
					<matchsetname>imagesregex</matchsetname>
					<actionsetname>movetoimages</actionsetname>
				</ruleset>
				<ruleset>
					<matchsetname>documentsregex</matchsetname>
					<actionsetname>movetodocuments</actionsetname>
				</ruleset>
			</rulesets>
		</folder>
		<folder>
			<path>o</path>
			<rulesets>
				<ruleset>
					<matchsetname></matchsetname>
					<actionsetname></actionsetname>
				</ruleset>
			</rulesets>
		</folder>
	</folders>
	<matches>
		<match>
			<name>imagesregex</name>
			<kind>regex</kind>
			<pattern>.*Image.*</pattern>
		</match>
		<match>
			<name>documentsregex</name>
			<kind>regex</kind>
			<pattern>.*Document.*</pattern>
		</match>
	</matches>
</config>