<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml -->
<config>
	<actionsets>
		
		<action>
			<move></move>
			<copy></copy>
			<delete></delete><edit></edit></action></actionsets>
	<folders>
		<folder>
			<path>c:/test/</path>
		</folder>
		<folder>
			<path>o</path>
		</folder>
	</folders>
	<Matches>
		<match></match></Matches></config>